## 数据读取或创建

### Agenda

- 创建DataFrame
- 从文件读取
- 存储

In [9]:
import pandas as pd

### 创建DataFrame

构造DataFrame最常用的方式是字典+列表

In [10]:
d = {'one': [1., 2., 3., 4.],
     'two': [4., 3., 2., 1.]}
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [11]:
pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

### 从文件读取
实际使用当中，更多时候我们是把相关文件数据直接读进Pandas中进行操作。

In [12]:
#读取csv文件
imdb = pd.read_csv('Data/imdb_1000.csv')

#显示前5行
imdb.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

Pandas的文件读取支持多种格式和参数，具体参考文档[EN](https://pandas.pydata.org/pandas-docs/stable/reference/io.html) [CN](https://www.pypandas.cn/docs/user_guide/io.html)

### 存储
对应于读取，Pandas提供文件存储方法。

In [13]:
imdb.to_csv('Data/imdb_1000_copy.scv')