## 列的基本处理

类似于Excel和数据库表，我们怎么增加，修改，删除，选择列

### Agenda

- 增加
- 删除
- 修改
- 选择

In [33]:
import pandas as pd

### 增加

增加一列，用df['新列名'] = 新列值，在原数据基础上赋值即可：

In [34]:
#读取csv文件
imdb = pd.read_csv('Data/imdb_1000.csv')

#增加新列title_len
imdb['title_len'] = imdb['title'].str.len() + 1

#显示前5行
imdb.head(5)

,star_rating,title,content_rating,genre,duration,actors_list,title_len
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",25
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",14
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",23
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",16
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",13

### 删除

用drop函数指定删除的列，axis = 1表示针对列的操作，inplace为True，则直接在源数据上进行修改，否则源数据会保持原样。

In [35]:
imdb.drop('title_len', axis = 1, inplace = True)

imdb.head(5)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

### 修改

最简单的修改：df['原列名'] =  值，就完成了对原列数值的修改。

In [36]:
# duration从分钟修改为小时
imdb['duration'] =  round(imdb['duration'] / 60, 2)

# 显示前5行
imdb.head(5)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,2.37,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,2.92,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,3.33,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,2.53,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,2.57,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

### 选取

In [37]:
# 选取单行
imdb['title']

0                             The Shawshank Redemption
1                                        The Godfather
2                               The Godfather: Part II
3                                      The Dark Knight
4                                         Pulp Fiction
                            ...
974                                            Tootsie
975                        Back to the Future Part III
976    Master and Commander: The Far Side of the World
977                                        Poltergeist
978                                        Wall Street
Name: title, Length: 979, dtype: object

In [38]:
# 选取多行
imdb[['title', 'star_rating']]

                                               title  star_rating
0                           The Shawshank Redemption          9.3
1                                      The Godfather          9.2
2                             The Godfather: Part II          9.1
3                                    The Dark Knight          9.0
4                                       Pulp Fiction          8.9
..                                               ...          ...
974                                          Tootsie          7.4
975                      Back to the Future Part III          7.4
976  Master and Commander: The Far Side of the World          7.4
977                                      Poltergeist          7.4
978                                      Wall Street          7.4

[979 rows x 2 columns]